- @shouts.each do |shout|
  %p 
    #{ shout.name }:   #{ shout.message }
    - if @current_user.user_name == 'admin'
      = link_to 'Delete', shout, confirm: 'Are you sure?', 'data-method' => :delete  
