
 
  <% @medias.each do |media| %>
    <div class="box">
  
  		<div class="content">
    		<p><img src="assets/blank.jpg" alt="" width="675" height="64"></p>
				<p2> <%= media.title %> </p2>

				<p3> <%= raw media.text %> </p3>
				<p><small> <%= link_to 'Edit', edit_media_path(media) %>   <%= link_to 'Delete', media, confirm: 'Are you sure?', 'data-method' => :delete %> </small></p>
			</div>
		</div>
  <% end %>

