.bundle
public/assets/
*.sw*
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
database.yml
doc/
*.swp
*~
.project
.DS_store
.idea
.secret
app/assets/images/
vendor/
public/bhf/
publir/bhf_off/
public/php/
config/secrets.yml

