-@matches.each do |match|
  %h3
    =link_to match.game_teams[0].name.to_s  + " - " + match.game_teams[1].name.to_s + " " + match.game_teams[0].goals.to_s + " - " + match.game_teams[0].goalsAgainst.to_s, match
