.b_header
  %img{:src => "/assets/latest matches.jpg"}
-@matches.each do |match|
  %li.list-group-item
    =link_to match.game_teams[0].name.to_s  + " - " + match.game_teams[1].name.to_s, match
    %span.badge.pull-right
      = match.game_teams[0].goals.to_s + " - " + match.game_teams[0].goalsAgainst.to_s

