.b_box
  .box
    .content
      %iframe#forum{frameBorder: "0", height: "740", name: "forum", src: "http://bombers-hockey.com/bhf", width: "100%"}
        %p Your browser does not support iframes.
      %p
