.b_box
  .content
    %p
      %img{ :src => "/assets/blank.jpg", :width => "100%" }
      %p2 STATISTICS
    %br
    #switch.titlecard
    .titlecard Forwards
    #forwards
    %br
    .titlecard Defenders
    #defenders
    %br
    .titlecard Goalies
    #goalies
