- @players.each do |player|
  .online_image_box
    -if player[:status] == 'Online'
      %img.online_image{:src => player[:image], :title => player[:text]}
    -else
      %img.online_image_grayscale{:src => player[:image], :title => player[:text]}
    .online_text_box #{player[:name]}
