:ruby
  days = "" 
  @schedules.each do |schedule|
    days += schedule.date.strftime("%-m/%-d/%Y").to_s + '":{"cellContent":"<div onclick=\\\\"location.href=\\\'/schedules/' + schedule.id.to_s + '\\\'\\\\"><img class=\\\\"opponentLogo\\\\" src=\\\\"' + schedule.logo.to_s + '\\\\" border=\\\\"0\\\\"/>' +
    '<div class=\\\\"dayOfMonthResult\\\\">' + schedule.time.strftime("%H.%M").to_s + '</div></div>"}, \\"'
  end
  days = days[0...-4]

:javascript
  var sssScheduleTeamCal_String = '{}';
  var sssScheduleTeamCal = jQuery.parseJSON(sssScheduleTeamCal_String);
  sssScheduleTeamCal_String = '{\"#{days.to_s}}';

  sssScheduleTeamCal = jQuery.parseJSON(sssScheduleTeamCal_String);
