.b_content
  -def protect_against_forgery?
    - false
  = form_for @shout, remote: true do |f|
    = f.text_area :message, :size => "44x3"
    %h7 name:
    = f.text_field :name
    = f.submit "Submit"
