- @team = "h"
- @position = ""
- if is_away then @team = "a" end
- case pos
- when "0"
  - @position = @team + "g"
- when "1"  
  - @position = @team + "ld"
- when "2"  
  - @position = @team + "rd"
- when "3"  
  - @position = @team + "lw"
- when "4"  
  - @position = @team + "c"
- when "5"  
  - @position = @team + "rw"

%div{ class: @position }    
  .player_image_box
    %img.player_image{:src => "https://avatar-ssl.xboxlive.com/avatar/" + player.personaName.to_s + "/avatarpic-l.png"}
    .player_text_box #{player.personaName.to_s}
