
 
  <% @posts.each do |post| %>
    <div class="box">
  
  		<div class="content">
    		<p><img src="assets/blank.jpg" alt="" width="675" height="64"></p>
				<p2> <%= post.title %> </p2>

				<p3> <%= post.text %> </p3>
				<p><small> <%= link_to 'Edit', edit_post_path(post) %>   <%= link_to 'Delete', post, confirm: 'Are you sure?', method: :delete %> </small></p>
			</div>
		</div>
  <% end %>

