.p3 The Beginning

.p The roots of this club can be tracked back six or seven years back when Mattias (Dexrion) and Andreas (Sorkpippi) startied working together, two persons with alot of love
for the amazing sport of hockey. it was mostly 2v2 games and some drop ins in NHL 09. But they startied feel the potential of online teamplay and how amazing it was.

%img{src: "/assets/info/nhl_09.jpg"}
