!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Bombers Hockey Club
    / Bootstrap
    %link{:href => "assets/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "assets/bombers.css", :rel => "stylesheet"}
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
  %body    
    .container
      .container-fluid
        %nav.navbar.navbar-default{ :role => "navigation" }
          %img.img-responsive{ :src => "assets/header.png" }
          .navbar-header.nav-filler
            %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar  
          .collapse.navbar-collapse.nav-filler#bs-example-navbar-collapse-1
            %ul.nav.navbar-nav
              %li
                %a.nav-homepage{:href => "/posts"}
                  %img{:src => "assets/NAV2/home_hover.png"}
